.die {
    position: relative;
    float: left;
    border: 4px solid black;
    height: 175px;
    width: 175px;
    margin: 10px;
    font-size: 4em;
    text-align: center;
    top: 20px;
    line-height: 170px; 
    vertical-align: middle;
}

#generate-button {
    position: relative;
    display: block;
    align-items: center;
    margin: 5px;
}

#roll-button{
    position: absolute;
    margin: 5px;
}